<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--1使用注解，2.视图解析器，4.控制器所在包（组件扫描）3.数据传输格式httpMessageConvert（json）,5.静态资源的访问 -->
    <!--启用注解-->
    <context:annotation-config/>
    <mvc:annotation-driven/>
    <!--扫描控制器所在的包-->
    <context:component-scan base-package="controller;"/>
    <!--静态资源访问-->
    <mvc:resources mapping="/static/**" location="/static/"/>
    <mvc:resources mapping="/WEB-INF/admin/**" location="/WEB-INF/admin/"></mvc:resources>
    <mvc:resources mapping="/uploadfiles/**" location="/uploadfiles/"/>
    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".html"/>
    </bean>
    <!--文件上传的配置!!!!!!-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/><!--10M -->
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>
    <!--配置fastJSON解析-->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                        <value>application/xml;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--拦截器-->
    <mvc:interceptors>
        <!--拦截器1-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--放开登录页面导航的请求-->
            <mvc:exclude-mapping path="/loginPage"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/WEB-INF/admin/login.html"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/getCode"></mvc:exclude-mapping>
            <!--解决拦截器跳转之后拦截了页面的样式问题-->
            <mvc:exclude-mapping path="/static/**"></mvc:exclude-mapping>

            <!--放开登录操作-->
            <mvc:exclude-mapping path="/login"></mvc:exclude-mapping>

            <!--如果登录成功则放开往后台页面跳转-->
            <mvc:exclude-mapping path="/WEB-INF/admin/index.html"></mvc:exclude-mapping>

            <bean id="handlerInterceptor1" class="interceptor.HandlerInterceptor1"></bean>
        </mvc:interceptor>
        <!--拦截器2-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="handlerInterceptor2" class="interceptor.HandlerInterceptor2"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>